@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

:root {
  --main-color: #3c84ff;
  --alt-rgb: 18, 54, 117;
}

::selection {
  background-color: rgba(var(--alt-rgb), .7);
}

#root {
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 0;
  background-color: #212123;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  overflow-x: hidden;
}

#root * {
  color: var(--main-color);
  text-shadow: 0rem .2rem 1rem currentColor;
}

#player {
  display: none;
}

html, a, button {
  cursor: url("/cursor.png"), auto;
}

p {
  &::after {
    content: "_";
    opacity: 0;
    position: absolute;
    font-weight: bold;
  }
  
  &:hover::after {
    animation: blink .8s steps(1) infinite;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}