@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", monospace;
}

:root {
  --main-color: #3c84ff;
  --alt-rgb: 18, 54, 117;
}

::selection {
  background-color: rgba(var(--alt-rgb), .7);
}

#root {
  width: 100vw;
  min-height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  overflow-x: hidden;
}

#root * {
  color: var(--main-color);
  text-shadow: 0rem .2rem 1rem currentColor;
}

#player {
  display: none;
}

p {
  &::after {
    content: "_";
    opacity: 0;
    position: absolute;
    font-weight: bold;
  }
  
  &:hover::after {
    animation: blink .8s steps(1) infinite;
  }
}

html, a, button {
  cursor: url("/cursor.png"), auto;
}

#root::before,
#root::after,
html::before,
html::after {
  content: "";
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  pointer-events: none;
}

#root::before {
  background: radial-gradient(
    circle at center,
    var(--main-color) 0%,
    rgba(var(--alt-rgb), 0.78) 58%,
    rgba(var(--alt-rgb), 0.55) 80%,
    rgba(var(--alt-rgb), 0.27) 93%,
    rgba(var(--alt-rgb), 0) 100%
  );
  opacity: 0.15;
  position: fixed;
  z-index: 2;
}

html::before {
  background: black;
  padding: 30px;
  pointer-events: auto;
  z-index: -1;
}

html::after {
  background: linear-gradient(
    to bottom,
    transparent,
    transparent 50%,
    rgba(var(--alt-rgb), .2) 70%,
    rgba(var(--alt-rgb), .2)
  );
  background-size: 100% 0.5rem;
  z-index: -1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}