* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #fafafa;
}

.app {
    width: 100vw;
    height: 100vh;
    background: #333;
    display: grid;
    place-items: center;
}

.term {
    width: 70%;
    aspect-ratio: 16 / 9;
    background: #212123;
    border-radius: 10px;
    box-shadow: 0px 0px 32px 5px rgba(0, 0, 0, 0.25);
}

.title-bar {
    padding: 5px 0;
    display: flex;
    justify-content: center;
    position: relative;
}

.btns {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 10px;
}

.close,
.minimize,
.maximize {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.close {
    background: #ff5f57;
}

.minimize {
    background: #febc2e;
}

.maximize {
    background: #28c840;
}

.content-wrapper {
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: column-reverse;
    max-height: 100%;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dir {
    color: crimson;
    margin-bottom: 2px;
}

.arrow {
    color: aquamarine;
}

.input {
    display: inline;
}

.prompt:last-child .input::after {
    position: static;
    content: "⠀";
    background: white;
}

.out {
    white-space: pre-line;
}